In [1]:
import pandas as pd
import numpy as np

In [2]:
consumen=pd.read_csv("honda_consumen.csv")
consumen.head()

,Year,Make,Model,Condition,Price,Consumer_Rating,Consumer_Review_#,Exterior_Color,Interior_Color,Drivetrain,MPG,Fuel_Type,Transmission,Engine,VIN
0,2023,Honda,Ridgeline RTL,New,"$46,370",4.8,9,Platinum White Pearl,Beige,All-wheel Drive,NaN,Gasoline,Automatic,3.5L V6 24V GDI SOHC,5FPYK3F58PB011817
1,2023,Honda,CR-V Hybrid Sport,New,"$34,150",1.7,24,Platinum White Pearl,Black,FWD,NaN,Hybrid,Automatic CVT,2.0L I4 16V GDI DOHC Hybrid,2HKRS5H5XPH702953
2,2023,Honda,CR-V Hybrid Sport,New,"$34,245",4.7,2869,Meteorite Gray Metallic,Black,Front-wheel Drive,NaN,Hybrid,Automatic CVT,2.0L I4 16V GDI DOHC Hybrid,2HKRS5H55PH704805
3,2022,Honda,Pilot TrailSport,New,"$46,500",5.0,12,Sonic Gray Pearl,Black,All-wheel Drive,19–25,Gasoline,9-Speed Automatic,3.5L V6 24V GDI SOHC,5FNYF6H82NB100429
4,2023,Honda,CR-V Hybrid Sport Touring,New,"$40,395",4.4,12,Crystal Black Pearl,Black,All-wheel Drive,NaN,Hybrid,Automatic CVT,2.0L I4 16V GDI DOHC Hybrid,2HKRS6H90PH805954

In [3]:
consumen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               4999 non-null   int64
 1   Make               4999 non-null   object
 2   Model              4999 non-null   object
 3   Condition          4999 non-null   object
 4   Price              4999 non-null   object
 5   Consumer_Rating    4999 non-null   float64
 6   Consumer_Review_#  4999 non-null   int64
 7   Exterior_Color     4988 non-null   object
 8   Interior_Color     4988 non-null   object
 9   Drivetrain         4988 non-null   object
 10  MPG                3514 non-null   object
 11  Fuel_Type          4988 non-null   object
 12  Transmission       4988 non-null   object
 13  Engine             4988 non-null   object
 14  VIN                4988 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 585.9+ KB

In [4]:
consumen.describe(include='all')

,Year,Make,Model,Condition,Price,Consumer_Rating,Consumer_Review_#,Exterior_Color,Interior_Color,Drivetrain,MPG,Fuel_Type,Transmission,Engine,VIN
count,4999.000000,4999,4999,4999,4999,4999.000000,4999.000000,4988,4988,4988,3514,4988,4988,4988,4988
unique,NaN,1,146,3,2333,NaN,NaN,172,62,7,125,7,58,75,4988
top,NaN,Honda,CR-V EX-L,New,"$41,770",NaN,NaN,Platinum White Pearl,Black,Front-wheel Drive,19–26,Gasoline,Automatic CVT,3.5L V6 24V GDI SOHC,5FPYK3F58PB011817
freq,NaN,4999,268,2697,70,NaN,NaN,892,2889,2327,540,4393,1823,1898,1
mean,2020.507702,NaN,NaN,NaN,NaN,4.569654,1288.366673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3.711361,NaN,NaN,NaN,NaN,0.542453,1969.998095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1981.000000,NaN,NaN,NaN,NaN,1.200000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2019.000000,NaN,NaN,NaN,NaN,4.400000,126.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2022.000000,NaN,NaN,NaN,NaN,4.700000,697.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2023.000000,NaN,NaN,NaN,NaN,4.900000,1695.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2023.000000,NaN,NaN,NaN,NaN,5.000000,29258.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
consumen.duplicated().value_counts()

False    4999
dtype: int64

In [6]:
consumen=consumen.dropna()

In [41]:
consumen.shape

(3514, 15)

In [7]:
consumen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3514 entries, 3 to 4997
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               3514 non-null   int64
 1   Make               3514 non-null   object
 2   Model              3514 non-null   object
 3   Condition          3514 non-null   object
 4   Price              3514 non-null   object
 5   Consumer_Rating    3514 non-null   float64
 6   Consumer_Review_#  3514 non-null   int64
 7   Exterior_Color     3514 non-null   object
 8   Interior_Color     3514 non-null   object
 9   Drivetrain         3514 non-null   object
 10  MPG                3514 non-null   object
 11  Fuel_Type          3514 non-null   object
 12  Transmission       3514 non-null   object
 13  Engine             3514 non-null   object
 14  VIN                3514 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 439.2+ KB

In [8]:
consumen.to_csv("consumen_clean.csv", index=False)

In [9]:
import pandas as pd
import numpy as np

In [29]:
rating=pd.read_csv("honda_rating.csv")
rating.head()

,Year,Make,Model,Condition,Price,Stock_#,Mileage,Comfort_Rating,Interior_Design_Rating,Performance_Rating,Value_For_Money_Rating,Exterior_Styling_Rating,Reliability_Rating,State,Seller_Type
0,2023,Honda,Ridgeline RTL,New,"$46,370",830164,10,5.0,4.8,4.8,4.2,5.0,5.0,CA,Dealer
1,2023,Honda,CR-V Hybrid Sport,New,"$34,150",6402953,–,5.0,3.0,4.0,4.0,5.0,5.0,CA,Dealer
2,2023,Honda,CR-V Hybrid Sport,New,"$34,245",PH704805,1,5.0,3.0,4.0,4.0,5.0,5.0,CA,Dealer
3,2022,Honda,Pilot TrailSport,New,"$46,500",5700429B,5,5.0,5.0,5.0,5.0,5.0,5.0,CA,Dealer
4,2023,Honda,CR-V Hybrid Sport Touring,New,"$40,395",5705954,5,5.0,3.0,4.0,4.0,5.0,5.0,CA,Dealer

In [30]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4999 non-null   int64
 1   Make                     4999 non-null   object
 2   Model                    4999 non-null   object
 3   Condition                4999 non-null   object
 4   Price                    4999 non-null   object
 5   Stock_#                  4988 non-null   object
 6   Mileage                  4988 non-null   object
 7   Comfort_Rating           4447 non-null   float64
 8   Interior_Design_Rating   4447 non-null   float64
 9   Performance_Rating       4447 non-null   float64
 10  Value_For_Money_Rating   4447 non-null   float64
 11  Exterior_Styling_Rating  4447 non-null   float64
 12  Reliability_Rating       4447 non-null   float64
 13  State                    4926 non-null   object
 14  Seller_Type              4926 non-null   object
dtypes: float64(6), int64(1), object(8)
memory usage: 585.9+ KB

In [31]:
rating.describe(include='all')

,Year,Make,Model,Condition,Price,Stock_#,Mileage,Comfort_Rating,Interior_Design_Rating,Performance_Rating,Value_For_Money_Rating,Exterior_Styling_Rating,Reliability_Rating,State,Seller_Type
count,4999.000000,4999,4999,4999,4999,4988,4988,4447.00000,4447.000000,4447.000000,4447.000000,4447.000000,4447.000000,4926,4926
unique,NaN,1,146,3,2333,4965,2416,NaN,NaN,NaN,NaN,NaN,NaN,53,2
top,NaN,Honda,CR-V EX-L,New,"$41,770",H23100,5,NaN,NaN,NaN,NaN,NaN,NaN,CA,Dealer
freq,NaN,4999,268,2697,70,2,463,NaN,NaN,NaN,NaN,NaN,NaN,330,4920
mean,2020.507702,NaN,NaN,NaN,NaN,NaN,NaN,4.81754,4.706814,4.663931,4.580976,4.731954,4.866269,NaN,NaN
std,3.711361,NaN,NaN,NaN,NaN,NaN,NaN,0.25903,0.476941,0.351680,0.372107,0.313093,0.190886,NaN,NaN
min,1981.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.80000,3.000000,3.600000,3.600000,3.900000,4.000000,NaN,NaN
25%,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.70000,4.700000,4.500000,4.200000,4.600000,4.800000,NaN,NaN
50%,2022.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.90000,4.800000,4.800000,4.600000,4.800000,5.000000,NaN,NaN
75%,2023.000000,NaN,NaN,NaN,NaN,NaN,NaN,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,NaN,NaN
max,2023.000000,NaN,NaN,NaN,NaN,NaN,NaN,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,NaN,NaN

In [32]:
rating.duplicated().value_counts()

False    4998
True        1
dtype: int64

In [37]:
rating = rating.dropna()

In [38]:
rating.duplicated().value_counts()

False    4385
dtype: int64

In [42]:
rating.shape

(4385, 15)

In [39]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4385 entries, 0 to 4997
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4385 non-null   int64
 1   Make                     4385 non-null   object
 2   Model                    4385 non-null   object
 3   Condition                4385 non-null   object
 4   Price                    4385 non-null   object
 5   Stock_#                  4385 non-null   object
 6   Mileage                  4385 non-null   object
 7   Comfort_Rating           4385 non-null   float64
 8   Interior_Design_Rating   4385 non-null   float64
 9   Performance_Rating       4385 non-null   float64
 10  Value_For_Money_Rating   4385 non-null   float64
 11  Exterior_Styling_Rating  4385 non-null   float64
 12  Reliability_Rating       4385 non-null   float64
 13  State                    4385 non-null   object
 14  Seller_Type              4385 non-null   object
dtypes: float64(6), int64(1), object(8)
memory usage: 548.1+ KB

In [40]:
rating.to_csv("rating_clean.csv", index=False)